<nav class="sheet-navigation sheet-tabs tabs">
    {{#each tabs as |tab|}}
    {{#if ../ignoreLabel}}
    <a class="sheet-stack {{tab.cssClass}}"
        data-tab="{{tab.id}}"
        data-group="{{tab.group}}"
        data-action="tab"
        data-tooltip="{{localize tab.label}}"
    >
        <div class="container">
            <div class="background"></div>
            <div class="border"></div>        
            <span class="value">
                {{#if tab.icon}}
                    {{{tab.icon}}}
                {{/if}}
            </span>
        </div>
    </a>
    {{else}}
    <a class="{{tab.cssClass}}"
        data-tab="{{tab.id}}"
        data-group="{{tab.group}}"
        data-action="tab"
    >
        {{localize tab.label}}
    </a>
    {{/if}}
    {{/each}}
</nav>