<ul class="item-list bullet-list">
    <li class="item header">
        <section class="details">
            <span class="title">{{localize "COSMERE.Actor.Sheet.Details.Goals.Label"}}</span>
        </section>
    </li>

    {{#each goals as |goal|}}
    <li class="item {{#if goal.achieved}}achieved{{/if}}" data-id="{{goal.id}}">
        <section class="details">
            <i class="bullet fade icon faded fa-solid fa-diamond"></i>
            <input class="name fade" type="text" value="{{goal.name}}" readonly>

            <a class="fade" data-action="adjust-goal-progress"
                {{#if @root.editable}}
                data-tooltip="{{localize "COSMERE.Actor.Sheet.Details.Goals.AdjustProgressTooltipInc"}}<br>{{localize "COSMERE.Actor.Sheet.Details.Goals.AdjustProgressTooltipDec"}}"
                {{/if}}
            >
                <ul class="pip-list">
                    {{#times goal.level}}
                        <li class="pip active">
                            <div></div>
                        </li>
                    {{/times}}
                    {{#times (sub 3 goal.level)}}
                        <li class="pip">
                            <div></div>
                        </li>
                    {{/times}}
                </ul>
            </a>

            <div class="controls icon faded">
                {{#if @root.editable}}
                <a
                    data-action="toggle-goal-controls"
                    data-tooltip="APPLICATION.TOOLS.ToggleControls"
                >
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </a>
                {{/if}}
            </div>
        </section>        
    </li>
    {{/each}}
    
    {{#if editable}}
    <li class="item new">
        <a data-action="add-goal">
            <i class="fa-solid fa-plus"></i>
            <span>
                {{localize "COSMERE.Actor.Sheet.Details.Goals.New"}}
            </span>
        </a>
    </li>
    {{/if}}
</ul>
{{#if editable}}
<div class="hide-completed">
    <a {{#if hideCompletedGoals}}class="active"{{/if}} 
        data-action="toggle-hide-completed-goals"
    >
        <span class="label">{{localize "COSMERE.Actor.Sheet.Details.Goals.HideComplete"}}</span>
        {{#if hideCompletedGoals}}
        <i class="fa-solid fa-toggle-on"></i>
        {{else}}
        <i class="fa-solid fa-toggle-off"></i>
        {{/if}}
    </a>
</div>

<menu class="controls-dropdown">
    <li class="header-control">
        <button class="control"
            data-action="edit-goal"
        >
            <i class="fa-solid fa-pen-to-square"></i>
            <span>{{localize "GENERIC.Button.Edit"}}</span>
        </button>
    </li>
    <li class="header-control">
        <button class="control"
            data-action="remove-goal"
        >
            <i class="fa-solid fa-trash"></i>
            <span>{{localize "GENERIC.Button.Remove"}}</span>
        </button>
    </li>
</menu>
{{/if}}