{{#with (lookup tabsMap "details") as |tab|}}
<div class="tab tab-content {{tab.cssClass}}" data-tab="details" data-group="primary">
    <fieldset>
        <legend>{{localize "COSMERE.Item.Sheet.Basics"}}</legend>
        {{app-item-details-id}}
        <div class="item-details-form">
            <div class="form-group">
                <label>{{localize "COSMERE.Item.Sheet.Specialty.PathId"}}</label>
                {{app-id-input
                    name="system.path"
                    value=@root.item.system.path
                }}
            </div>
            <p class="hint">
                {{localize "COSMERE.Item.Sheet.Specialty.PathIdDescription"}}
            </p>
        </div>        
    </fieldset>
</div>
{{/with}}