{{!-- Attribute --}}
{{formGroup handler.schema.fields.attribute
    name="handler.attribute"
    value=handler.attribute
    localize=true
}}

{{!-- Amount --}}
<div class="form-group">
    <label>
        {{localize handler.schema.fields.amount.label}}
        <i class="info fa-regular fa-circle-question" 
            data-tooltip="{{localize handler.schema.fields.amount.hint}}"
        ></i>
    </label>
    <div class="form-fields">
        {{formInput handler.schema.fields.amount
            name="handler.amount"
            value=handler.amount
        }}
    </div>
</div>

{{!-- Bonus --}}
<div class="form-group">
    <label>
        {{localize handler.schema.fields.bonus.label}}
        <i class="info fa-regular fa-circle-question" 
            data-tooltip="{{localize handler.schema.fields.bonus.hint}}"
        ></i>
    </label>
    <div class="form-fields">
        {{formInput handler.schema.fields.bonus
            name="handler.bonus"
            value=handler.bonus
        }}
    </div>
</div>