{{#with (lookup tabsMap "goals") as |tab|}}

<div class="tab tab-content split {{tab.cssClass}}" data-tab="goals" data-group="primary">
    {{#if @root.isUpdatingHtmlField}}
    <prose-mirror name="{{@root.proseFieldName}}" data-document-u-u-i-d="{{@root.actor.uuid}}"
        value = "{{@root.proseFieldHtml}}" collaborate="true">
        {{{@root.proseFieldHtml}}}    
    </prose-mirror>
    {{else}}
    <section>
        <div class="details-text notes">
            <div class="icon-header">
                <div class="title">
                    <i class="fa-solid fa-file-pen"></i>
                    <span>{{localize "COSMERE.Actor.Sheet.Details.Notes"}}</span>
                </div>
            </div>
            {{{@root.notesHtml}}}
        </div>
    </section>
    <section>
        {{app-character-goals-list}}
    </section>
    <section>
        {{app-character-connections-list}}
    </section>
    {{/if}}
</div>

{{/with}}