<form>
    <div class="form-group max">
        <div class="form-fields">
            {{#with (derived range) as |value|}}
            <input name="range"
                {{#if (isNumMax value)}}
                type="text"
                value="—"

                {{else}}
                type="number"
                value="{{value}}"
                min="0"
                step="1"
                {{/if}}

                {{#if (or (eq @root.mode 'derived') (isNumMax value))}}
                readonly
                {{/if}}
            >
            {{/with}}
        </div>        
    </div>
    <div class="form-group">
        <label>{{localize "GENERIC.Mode"}}</label>
        <div class="form-fields">
            <select name="mode">
                {{selectOptions modes selected=mode localize=true}}
            </select>
        </div>        
    </div>
    <div class="form-group">
        <label>{{localize "DIALOG.ConfigureSensesRange.IgnoreObscure"}}</label>
        <input type="checkbox" 
            name="ignoreObscure"
            {{#if (isNumMax (derived range))}}
            checked
            {{/if}}
            {{#if (eq mode 'derived')}}
            readonly
            {{/if}}
        >
    </div>
    <div class="form-group submit">
        <button data-action="update-sense" type="submit">
            {{localize "GENERIC.Button.Update"}}
        </button>
    </div>
</form>