<form>
    <div class="form-group max">
        <div class="form-fields">
            <input 
                name="formula" 
                {{#if (eq mode 'derived')}}
                type="text" 
                value="{{formula}}" 
                readonly
                {{else}}
                type="number"
                value="{{override}}"
                min="0"
                step="1"
                {{/if}}
            >
        </div>        
    </div>
    <div class="form-group">
        <label>{{localize "GENERIC.Mode"}}</label>
        <div class="form-fields">
            <select name="mode">
                {{selectOptions modes selected=mode localize=true}}
            </select>
        </div>        
    </div>
    <div class="form-group">
        <label>{{localize "GENERIC.Bonus"}}</label>
        <div class="form-fields">
            <input 
                name="bonus" 
                {{#if (eq mode 'derived')}}
                type="number" 
                value="{{this.bonus}}" 
                min="0" 
                step="1" 
                {{else}}
                type="text"
                value="—"
                readonly
                {{/if}}
            >
        </div>        
    </div>
    <div class="form-group submit">
        <button data-action="update-defense" type="submit">
            {{localize "GENERIC.Button.Update"}}
        </button>
    </div>
</form>