<form>
    {{#each movementRates as |rate|}}
        <div class="form-group">
            {{#if (not (eq rate.type "walk"))}}
                <label>{{localize rate.label}}</label>
            {{/if}}

            <div class="form-group">
                <input name="{{concat rate.type ".value"}}"
                    style="text-align: center; font-size: 15pt"
                    type="number"
                    value="{{derived rate}}"
                    min="0"
                    step="1"
                    {{#if (eq rate.mode 'derived')}}
                    readonly
                    {{/if}}
                >
            </div>
        </div>

        {{#if (eq rate.type "walk")}}
            <div class="form-group">
                <label>{{localize "GENERIC.Mode"}}</label>
                <div class="form-group">
                    <select name="{{concat rate.type ".mode"}}">
                        {{selectOptions @root.modes selected=rate.mode localize=true}}
                    </select>
                </div>
            </div>
            <br>
        {{/if}}
    {{/each}}

    <br>
    <div class="form-group">
        <button data-action="update-movement" type="submit">
            {{localize "GENERIC.Button.Update"}}
        </button>
    </div>
</form>