{{#if editable}}
<div class="item-details-form">
    <div class="form-group">
        <label>{{localize "COSMERE.Item.Sheet.Ancestry.FreeTalents"}}</label>
        <div class="form-fields">
            <p class="drop-area">
                {{localize "COSMERE.Item.Sheet.Ancestry.Component.AdvancementTalentList.DropTalent"}}
            </p>
        </div>
    </div>
</div>
{{/if}}

<ul class="item-list talent-list">
    <li class="item header">
        <section class="details"> 
            <span class="title">{{localize "TYPES.Item.talent"}}</span>
            <span class="subtitle wide">{{localize "COSMERE.Sheet.Talents.AtLevel"}}</span>
            <div class="controls icon active">
                <div></div>
            </div>
        </section>
    </li>

    {{#each extraTalents as |ref index|}}
    <li class="item talent" data-item="{{index}}">
        <section class="details">
            <div class="name">
                <div class="document-list">                    
                    {{ref.link}}
                </div>
            </div>
            <div class="detail wide level">
                <span>{{ref.level}}</span>
            </div>
            <div class="controls icon faded">
                {{#if @root.editable}}
                <a data-action="edit-talent"
                    data-tooltip="{{localize "GENERIC.Button.Edit"}}"
                >
                    <i class="fas fa-edit"></i>
                </a>
                <a data-action="remove-talent" 
                    data-tooltip="{{localize "GENERIC.Button.Remove"}}"
                >
                    <i class="fas fa-trash-alt"></i>
                </a>
                {{/if}}
            </div>
        </section>
    </li>
    {{/each}}
</ul>