{{#if (or hasImmunities isEditMode)}}
<div class="collapsible {{#unless sectionCollapsed}}expanded{{/unless}}">
    <div class="icon-header">
        <div class="title">
            <i class="fas fa-shield"></i>
            <span>{{localize "COSMERE.Actor.Statistics.Immunities"}}</span>
        </div>
        <div class="controls">
            {{#if isEditMode}}
            <a role="button"
                data-action="edit-immunities"
                data-tooltip="COSMERE.Actor.Sheet.EditImmunities"
            >
                <i class="fas fa-pen-to-square"></i>
            </a>
            {{/if}}
        </div>
    </div>
    <div class="pills-list collapsible-content">
        <div class="wrapper">
            {{#each immunities as |immunity|}}
            {{#if immunity.isImmune}}
            <div class="pill" data-id="{{immunity.name}}"
                data-tooltip="{{immunity.label}} ({{immunity.typeLabel}})">
                <span class="name">{{immunity.label}}</span>
                <span class="separator">|</span>
                <span><i class="{{immunity.typeIcon}}" aria-label="{{immunity.typeLabel}}"></i></span>
            </div>
            {{/if}}
            {{/each}}
        </div>        
    </div>
</div>
{{/if}}