<ul class="item-list injury-list">
    <li class="item header">
        <section class="details">
            <span class="title">{{localize "COSMERE.Actor.Sheet.Injuries.Label"}}</span>
            <span class="subtitle wide">
                {{localize "COSMERE.Actor.Sheet.Injuries.Duration"}}
            </span>
            <div class="subtitle thin"></div>
            <div class="controls icon active">
                {{#if editable}}
                    <a data-action="create-injury"
                        data-tooltip="COSMERE.Actor.Sheet.Injuries.CreateInjury"
                    >
                        <i class="fa-solid fa-plus"></i>
                    </a>
                {{else}}
                    <div></div>
                {{/if}}
            </div>
        </section>        
    </li>

    {{#each injuries as |injury|}}
    <li class="item injury {{#if injury.isPermanent}}permanent{{/if}}" data-item-id="{{injury.id}}">
        <section class="details">
            <div class="img">
                <img src="{{injury.img}}">
            </div>
            <div class="name">
                <span>{{injury.name}}</span>
            </div>
            <div class="detail wide duration">
                {{#if injury.isPermanent}}
                <span>{{localize "COSMERE.Actor.Sheet.Injuries.Permanent"}}</span>
                {{else}}
                {{#if @root.editable}}
                <a
                    data-action="reduce-injury-duration"
                    data-tooltip="COSMERE.Actor.Sheet.Injuries.DecreaseDuration"
                >
                    <i class="fa-solid fa-minus"></i>
                </a>
                {{/if}}
                <span>{{injury.duration.remaining}} {{localize "COSMERE.Actor.Sheet.Injuries.Days"}}</span>
                {{#if @root.editable}}
                <a
                    data-action="increase-injury-duration"
                    data-tooltip="COSMERE.Actor.Sheet.Injuries.IncreaseDuration"
                >
                    <i class="fa-solid fa-plus"></i>
                </a>
                {{/if}}
                {{/if}}
            </div>
            <div class="detail thin action"></div>
            <div class="controls icon faded">
                {{#if @root.editable}}
                <a data-action="toggle-injury-controls" 
                    data-tooltip="APPLICATION.TOOLS.ToggleControls"
                >
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </a>
                {{/if}}
            </div>
        </section>        
    </li>
    {{/each}}
</ul>

{{#if editable}}
<menu class="controls-dropdown">
    <li class="header-control">
        <button class="control"
            data-action="edit-injury"
        >
            <i class="fa-solid fa-pen-to-square"></i>
            <span>{{localize "GENERIC.Button.Edit"}}</span>
        </button>
    </li>
    <li class="header-control">
        <button class="control"
            data-action="remove-injury"
        >
            <i class="fa-solid fa-trash"></i>
            <span>{{localize "GENERIC.Button.Remove"}}</span>
        </button>
    </li>
</menu>
{{/if}}