<div class="search-bar">
    <div class="icon faded">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <input type="text" 
        id="actions-search"
        placeholder="{{placeholder}}"
        value="{{text}}"
    >
    <div class="controls">
        <a class="icon {{#if text}}active{{else}}faded{{/if}}"
            data-action="actions-clear-filter"
            data-tooltip="COSMERE.Actor.Sheet.Search.Clear"
        >
            <i class="fa-solid fa-xmark"></i>
        </a>
        <a class="icon {{#if filter}}active{{else}}faded{{/if}}"
            data-action="actions-filter-by"
            data-tooltip="COSMERE.Actor.Sheet.Search.Filter"
        >
            <i class="fa-solid fa-filter"></i>
        </a>
        <a class="icon active" 
            data-action="actions-toggle-sort"
            {{#if (eq sort 'manual')}}
            data-tooltip="COSMERE.Actor.Sheet.Search.SortManually"
            {{else}}
            data-tooltip="COSMERE.Actor.Sheet.Search.SortAlphabetically"
            {{/if}}
            
        >
            {{#if (eq sort 'manual')}}
            <i class="fa-solid fa-arrow-down-short-wide"></i>
            {{else}}
            <i class="fa-solid fa-arrow-down-a-z"></i>
            {{/if}}
        </a>
    </div>
</div>