{{#with (lookup tabsMap "details") as |tab|}}

<div class="tab tab-content {{tab.cssClass}}" data-tab="details" data-group="primary">
    <fieldset>
        <legend>{{localize "COSMERE.Item.Sheet.Basics"}}</legend>
        {{app-item-details-id}}
    </fieldset>
    {{app-item-details-equip}}
    {{app-item-details-activation}}
    <fieldset>
        <legend>{{localize "COSMERE.Item.Armor.Deflect"}}</legend>
        <div class="item-details-form">
            <div class="form-group">
                <label>{{localize "COSMERE.Item.Armor.Deflect"}}</label>
                <div class="form-fields">
                    <input 
                        name="system.deflect"
                        type="number" 
                        min="0"
                        step="1"
                        value="{{@root.item.system.deflect}}"
                        {{#if (not @root.editable)}}
                        readonly
                        {{/if}}
                    >
                </div>
            </div>
        </div>        
    </fieldset>    
</div>

{{/with}}