{{#with (lookup tabsMap "details") as |tab|}}

<div class="tab tab-content {{tab.cssClass}}" data-tab="details" data-group="primary">
    <fieldset>
        <legend>{{localize "COSMERE.Item.Sheet.Basics"}}</legend>
        {{app-item-details-id}}
        {{app-item-details-linked-skills}}
    </fieldset>
    {{app-item-details-equip}}
    {{app-item-details-activation}}
    {{app-item-details-deflect}}  
</div>

{{/with}}