<ul class="item-list effect-list {{#if editable}}editable{{/if}}">
    <li class="item header">
        <section class="details">
            <span class="title">{{localize title}}</span>
            <span class="subtitle wide">
                {{localize "COSMERE.Sheet.Effects.Source"}}
            </span>
            <span class="subtitle wide">
               {{localize "COSMERE.Sheet.Effects.Duration"}}
            </span>
            <div class="subtitle thin"></div>
            <div class="controls icon active">
                {{#if editable}}
                    <a data-action="create-effect"
                        data-tooltip="COSMERE.Sheet.Effects.Create"
                    >
                        <i class="fa-solid fa-plus"></i>
                    </a>
                {{else}}
                    <div></div>
                {{/if}}
            </div>
        </section>        
    </li>

    {{#each effects as |effect|}}
    <li class="item effect" data-id="{{effect.id}}">
        <section class="details">
            <div class="img">
                <img src="{{effect.img}}">
            </div>
            <div class="name">
                <span>{{effect.name}}</span>
            </div>
            <div class="detail wide source">
                <span>{{effect.sourceName}}</span>
            </div>
            <div class="detail wide duration">
                <span>{{effect-duration effect}}</span>
            </div>            
            <div class="detail thin action">
                {{#if effect.active}}
                <a class="icon active"
                    data-action="toggle-effect-active"
                    data-tooltip="COSMERE.Sheet.Effects.Disable"
                >
                    <i class="fa-solid fa-toggle-on"></i>
                </a>
                {{else}}
                <a class="icon faded"
                    data-action="toggle-effect-active"
                    data-tooltip="COSMERE.Sheet.Effects.Enable"
                >
                    <i class="fa-solid fa-toggle-off"></i>
                </a>
                {{/if}}
            </div>
            <div class="controls icon faded">
                {{#if @root.editable}}
                <a data-action="edit-effect"
                    data-tooltip="COSMERE.Sheet.Effects.Edit"
                >
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a data-action="delete-effect"
                    data-tooltip="COSMERE.Sheet.Effects.Delete"
                >
                    <i class="fa-solid fa-trash"></i>
                </a>
                {{else}}
                <a data-action="edit-effect"
                    data-tooltip="GENERIC.ViewDetails"
                >
                    <i class="fa-solid fa-eye"></i>
                </a>
                {{/if}}
            </div>
        </section>        
    </li>
    {{/each}}
</ul>