<ul class="item-list events-list">
    <li class="item header">
        <section class="details">
            <span class="subtitle wide">{{localize "COSMERE.Item.Sheet.EventsList.Toggle.Label"}}</span>
            <span class="title">{{localize "COSMERE.Item.Sheet.EventsList.Description"}}</span>
            <span class="subtitle wide">{{localize "COSMERE.Item.Sheet.EventsList.Trigger"}}</span>
            <span class="subtitle wide">{{localize "COSMERE.Item.Sheet.EventsList.Handler"}}</span>
            {{#if editable}}
            <div class="controls icon active">
                <a data-action="create-rule"
                    data-tooltip="COSMERE.Item.Sheet.EventsList.Create"
                >
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
            {{else}}
            <div></div>
            {{/if}}
        </section>
    </li>

    {{#each rules as |rule|}}
        <li class="item rule" data-id="{{rule.id}}">
            <section class="details">
                {{#if rule.disabled}}
                <div class="controls icon faded wide start">
                    <a data-action="toggle-rule"
                        data-tooltip="COSMERE.Item.Sheet.EventsList.Toggle.Inactive"
                    >
                        <i class="fa-solid fa-toggle-off"></i>
                    </a>
                </div>
                {{else}}
                <div class="controls icon wide start">
                    <a data-action="toggle-rule"
                        data-tooltip="COSMERE.Item.Sheet.EventsList.Toggle.Active"
                    >
                        <i class="fa-solid fa-toggle-on"></i>
                    </a>
                </div>
                {{/if}}
                <div class="name">
                    <span>{{rule.description}}</span>
                </div>
                <div class="detail wide">
                    <span data-tooltip="{{localize rule.eventTypeDescription}}">
                        {{localize rule.eventTypeLabel}}
                    </span>
                </div>
                <div class="detail wide">
                    <span data-tooltip="{{localize rule.handler.typeDescription}}">
                        {{localize rule.handler.typeLabel}}
                    </span>
                </div>
                {{#if @root.editable}}
                <div class="controls icon faded">
                    <a data-action="edit-rule"
                        data-tooltip="COSMERE.Item.Sheet.EventsList.Edit"
                    >
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a data-action="delete-rule"
                        data-tooltip="COSMERE.Item.Sheet.EventsList.Delete"
                    >
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
                {{/if}}
            </section>
        </li>
    {{/each}}
</ul>
