{{#if hasProperties}}
<div class="properties-list">
    {{!-- Physical properties --}}
    {{#if isPhysical}}
    <div class="property quantity" data-tooltip="{{localize "COSMERE.Item.Sheet.Properties.Quantity"}}">
        <i class="separator fa-solid fa-xmark"></i>
        <input name="system.quantity"
            type="number"
            min="0"
            step="1"
            value="{{item.system.quantity}}"
            {{#if (not editable)}}
            readonly
            {{/if}}
        >
    </div>
    <div class="property weight" data-tooltip="{{localize "COSMERE.Item.Sheet.Properties.Weight"}}">
        <i class="separator fa-solid fa-weight-hanging"></i>
        <input name="system.weight.value"
            type="number"
            min="0"
            step="0.01"
            value="{{item.system.weight.value}}"
            {{#if (not editable)}}
            readonly
            {{/if}}
        >
    </div>
    <div class="property price">
        <i class="separator fa-solid fa-coins"></i>
        <input name="system.price.value"
            type="number"
            min="0"
            step="0.01"
            value="{{item.system.price.value}}"
            data-tooltip="{{localize "COSMERE.Item.Sheet.Properties.Price"}}"
            {{#if (not editable)}}
            readonly
            {{/if}}
        >
        <select name="system.price.unit"
            {{#if (not editable)}}
            disabled
            {{/if}}
        >
            {{selectOptions units.price selected=item.system.price.unit}}
        </select>
    </div>
    {{/if}}
</div>
{{/if}}